services:

    # sonarr
    Sonarr:
        container_name: Sonarr-8989
        image: cr.hotio.dev/hotio/sonarr
        ports:
            - 8989:8989
        volumes:
            - servarr_data:/servarr/sonarr
        environment:
            - PUID=111
            - PGID=321
            - UMASK=002

    # radarr
    Radarr:
        container_name: Radarr-7878
        image: cr.hotio.dev/hotio/radarr
        ports:
            - 7878:7878
        volumes:
            - servarr_data:/servarr/radarr
        environment:
            - PUID=222
            - PGID=321
            - UMASK=002

    # bazarr
    Bazarr:
        container_name: Bazarr-6767
        image: cr.hotio.dev/hotio/bazarr
        ports:
            - 6767:6767
        volumes:
            - servarr_data:/servarr/bazarr
        environment:
            - PUID=333
            - PGID=321
            - UMASK=002

    Jackett:
        container_name: Jackett-9117
        image: cr.hotio.dev/hotio/jackett
        ports:
            - 9117:9117
        volumes:
            - servarr_data:/servarr/jackett
        environment:
            - PUID=444
            - PGID=321
            - UMASK=002

    # qBittorrent
    qBittorrent:
        container_name: qBittorrent-8080
        image: cr.hotio.dev/hotio/qbittorrent
        ports:
            - 8080:8080
        volumes:
            - servarr_data:/servarr/qbittorrent
        environment:
            - PUID=555
            - PGID=321
            - UMASK=002

    # plex
    Plex:
        container_name: Plex-32400
        image: cr.hotio.dev/hotio/plex
        ports:
            - 32400:32400
        volumes:
            - servarr_data:/servarr/plex
            - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/data/media
        environment:
            - PUID=666
            - PGID=321
            - UMASK=002

volumes:
    servarr_data:
        external: true
