services:
  # ddclient
  DDClient:
    image: linuxserver/ddclient
    container_name: DNSClient
    restart: unless-stopped
    networks:
      - net_ext
    links:
      - Proxy
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/ddclient/config:/config
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=America/Sao_Paulo

  # proxy
  Proxy:
    image: nginx:mainline-alpine
    container_name: Proxy-80
    restart: always
    networks:
      - net_ext
      - net
    ports:
      - 80:80
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/proxy/nginx-conf:/etc/nginx/conf.d

  # sonarr
  Sonarr:
    container_name: Sonarr-8989
    image: cr.hotio.dev/hotio/sonarr
    restart: always
    networks:
      - net
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/sonarr/config:/config
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/sonarr/data:/data
      - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/media
      - /var/opt/servarr/qbittorrent/downloads:/downloads
      - /var/opt/servarr/nzbget/downloads:/downloads/nzb
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # radarr
  Radarr:
    container_name: Radarr-7878
    image: cr.hotio.dev/hotio/radarr
    restart: always
    networks:
      - net
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/radarr/config:/config
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/radarr/data:/data
      - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/media
      - /var/opt/servarr/qbittorrent/downloads:/downloads
      - /var/opt/servarr/nzbget/downloads:/downloads/nzb
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # bazarr
  Bazarr:
    container_name: Bazarr-6767
    image: cr.hotio.dev/hotio/bazarr
    restart: always
    networks:
      - net
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/bazarr/config:/config
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/bazarr/data:/data
      - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/media
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # jackett
  Jackett:
    container_name: Jackett-9117
    image: cr.hotio.dev/hotio/jackett
    restart: always
    networks:
      - net
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/jackett/config:/config
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/jackett/data:/data
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # qBittorrent
  qBittorrent:
    container_name: qBittorrent-8080
    image: cr.hotio.dev/hotio/qbittorrent
    restart: always
    networks:
      - net
    ports:
      - 8080:8080
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/qbittorrent/config:/config
      - /var/opt/servarr/qbittorrent/downloads:/app/qBittorrent/downloads
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # nzbget
  NZBGet:
    container_name: NZBGet-6789
    image: cr.hotio.dev/hotio/nzbget
    restart: always
    networks:
      - net
    ports:
      - 6789:6789
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/nzbget/config:/config
      - /var/opt/servarr/nzbget/downloads:/config/downloads
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # plex
  Plex:
    container_name: Plex-32400
    image: cr.hotio.dev/hotio/plex
    restart: always
    networks:
      - net
    ports:
      - 32400:32400
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/plex/config:/config
      - /var/opt/servarr/plex/transcode:/transcode
      - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/media

    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002
      - PLEX_CLAIM=claim-1tNdkZsL7iycmuNhWHj8

  # jellyfin
  Jellyfin:
    container_name: Jellyfin-8096
    image: cr.hotio.dev/hotio/jellyfin
    restart: always
    group_add:
      - 106
    networks:
      - net
    ports:
      - 8096:8096
    volumes:
      - /var/opt/servarr/jellyfin/config:/config
      - /var/opt/servarr/jellyfin/cache:/cache
      - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/media
    devices:
      # VAAPI Devices
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    environment:
      - PUID=1002
      - PGID=1002
      - UMASK=002

  # handbrake
  #Handbrake:
  #  container_name: Handbrake-5800
  #  image: jlesage/handbrake
  #  networks:
  #    - net
  #  ports:
  #    - 5800:5800
  #  volumes:
  #    - /var/opt/servarr/handbrake/config:/config
  #    - /srv/dev-disk-by-uuid-fec73826-4d93-4b89-9413-e2c3168429fa/Plex:/storage
  #    - /var/opt/servarr/handbrake/watch:/watch
  #    - /var/opt/servarr/handbrake/output:/output
  #  environment:
  #    - PUID=1002
  #    - PGID=1002

  # duplicati
  Duplicati:
    container_name: Duplicati-8200
    image: lscr.io/linuxserver/duplicati
    networks:
      - net
    ports:
      - 8200:8200
    volumes:
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr/duplicati/config:/config
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/duplicati/backups:/backups
      - /srv/dev-disk-by-uuid-324ee625-370e-4ef0-8379-c84b98c9a8c5/servarr:/source
      - /etc/openmediavault:/omv
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=America/Sao_Paulo
    restart: unless-stopped

networks:
  net:
  net_ext: